<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderpwh.member.infrastructure.persistence.mapper.MemberPackageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coderpwh.member.infrastructure.persistence.entity.MemberPackageDO">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="expiration_method" property="expirationMethod"/>
        <result column="day" property="day"/>
        <result column="face_value" property="faceValue"/>
        <result column="price" property="price"/>
        <result column="min_renewal_interval" property="minRenewalInterval"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`
        ,`tenant_id`,`name`,`code`,`expiration_method`,`day`,`face_value`,`price`,`min_renewal_interval`,`create_time`,`create_user`,`update_user`,`update_time`,`is_deleted`
    </sql>
    <select id="selectByPackageCode"
            resultType="com.coderpwh.member.infrastructure.persistence.entity.MemberPackageDO">
        select
        <include refid="Base_Column_List"/>
        from tb_member_package
        where tenant_id=#{tenantId} and `code`=#{packageCode} and is_deleted=0
    </select>
    <select id="selectByAgentNumberAndCode"
            resultType="com.coderpwh.member.infrastructure.persistence.entity.MemberPackageDO">
        select package.*
        from tb_member_package package
        left join tb_member_tenant tenant
        on tenant.id = package.tenant_id and package.is_deleted = 0 and tenant.is_deleted = 0
        <where>
            tenant.agent_number=#{agentNumber}
            <if test="productType!=null and productType!=''">
                and package.code=#{productType}
            </if>
            and package.is_deleted=0
        </where>


    </select>
</mapper>
