<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderpwh.member.infrastructure.persistence.mapper.MemberTenantExtraInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coderpwh.member.infrastructure.persistence.entity.MemberTenantExtraInfoDO">
        <id column="id" property="id"/>
        <result column="extra_property_id" property="extraPropertyId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="property_value" property="propertyValue"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`
        ,`extra_property_id`,`tenant_id`,`property_value`,`create_time`,`create_user`,`update_time`,`update_user`,`is_deleted`,`remark`
    </sql>


    <!--根据id修改-->
    <update id="updateById">
        update `tb_member_tenant_extra_info`
        set extra_property_id=#{extraPropertyId},
            tenant_id=#{tenantId},
            property_value=#{propertyValue},
            create_time=#{createTime},
            create_user=#{createUser},
            update_time=#{updateTime},
            update_user=#{updateUser},
            is_deleted=#{isDeleted},
            remark=#{remark}
        where `id` = #{id}
    </update>

    <!--根据id删除-->
    <delete id="deleteById">
        delete
        from `tb_member_tenant_extra_info`
        where `id` = #{id}
    </delete>

    <select id="selectByTenantId"
            resultType="com.coderpwh.member.application.dto.TenantPropertyDTO">
        select txi.code as codeKey,
        tep.property_value as propertyValue
        from tb_member_tenant_extra_info txi
        left join tb_member_tenant_extra_property tep on txi.extra_proper_id = tep.id
        where txi.is_deleted = 0
        and tep.is_deleted = 0
        <if test=" tenantId!=null and tenantId!=''">
            and txi.tenant_id=#{tenantId}
        </if>
        <if test="overdueRefundKey!=null and overdueRefundKey!=''">
            and tep.`code`=#{overdueRefundKey}
        </if>

    </select>


</mapper>
