<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderpwh.member.infrastructure.persistence.mapper.MemberCardHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coderpwh.member.infrastructure.persistence.entity.MemberCardHistoryDO">
        <id column="id" property="id"/>
        <result column="card_id" property="cardId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="user_id" property="userId"/>
        <result column="status" property="status"/>
        <result column="order_number" property="orderNumber"/>
        <result column="partner_order_number" property="partnerOrderNumber"/>
        <result column="card_type" property="cardType"/>
        <result column="card_type_cn" property="cardTypeCn"/>
        <result column="effective_time" property="effectiveTime"/>
        <result column="expiration_time" property="expirationTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="operation_description" property="operationDescription"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`
        ,`card_id`,`tenant_id`,`user_id`,`status`,`order_number`,`partner_order_number`,`card_type`,`card_type_cn`,`effective_time`,`expiration_time`,`create_time`,`create_user`,`update_user`,`update_time`,`is_deleted`,`operation_description`
    </sql>
    <select id="getValidOrderByUserId"
            resultType="com.coderpwh.member.infrastructure.persistence.entity.MemberCardHistoryDO">
        select
        <include refid="Base_Column_List"/>
        from tb_member_card_history
        where user_id=#{userId} and is_deleted=0 and `status` in (1,2)
        order by expiration_time asc;
    </select>
    <select id="selectByOrderNumber"
            resultType="com.coderpwh.member.infrastructure.persistence.entity.MemberCardHistoryDO">
        select
        <include refid="Base_Column_List"/>
        from tb_member_card_history
        where order_number=#{orderNumber} and is_deleted=0;
    </select>
    <select id="selectByOrderNumberOrPatnerOrderNumber"
            resultType="com.coderpwh.member.infrastructure.persistence.entity.MemberCardHistoryDO">
        select
        <include refid="Base_Column_List"/>
        from tb_member_card_history
        <where>
            1=1 and is_deleted=0
            <if test="orderNumber!null and orderNumber!=''">
                and order_number=#{orderNumber}
            </if>
            <if test="partnerOrderNumber!=null and partnerOrderNumber!=''">
                and partner_order_number=#{partnerOrderNumber}
            </if>
        </where>
    </select>


</mapper>
